# Chapter 12 - Tuples

1. Tuples are immutable
2. A tuple is a sequence of values
3. Syntactically, a tuple is a comma-separated list of values

In [2]:
t = 'a', 'b', 'c', 'd', 'e'

In [6]:
print(t)
type(t)

('a', 'b', 'c', 'd', 'e')

tuple

Although it is not necessary, it is common to enclose tuples in parentheses:

In [7]:
ProperWay = ('f','g','h')
type(ProperWay)

tuple

The tuple() function can create an empty tuple for you:

In [15]:
EmptyTuple = tuple()
print(EmptyTuple)

()

In [16]:
t1 = 'a', #<--- Note the comma, this is a tuple
type(t1)

tuple

The tuple() function can take arguments:

In [18]:
Xstring = tuple('Apples')
Xlist = tuple([1,2,3,4,5])

print(Xstring, Xlist)

('A', 'p', 'p', 'l', 'e', 's') (1, 2, 3, 4, 5)

Most list operators also work on tuples:

The bracket operator [ ] indexes an element and the slice operator selects a range of elements.. (e.g. [1:7])

In [22]:
Xlist[3]
Xstring[:4]

('A', 'p', 'p', 'l')